#Remove this line before deploying


# ENTER BOT TOKEN (Get your BOT_TOKEN by talking to @botfather)
BOT_TOKEN = "922380725:AAGK8Sa7lVcyq8PwxqoXzO66TWikMw9Suqo"
GDRIVE_FOLDER_ID = "1grc6cZU9wosse8eaC5unLmXPlIFFWqdf"
OWNER_ID = 842603040
DOWNLOAD_DIR = "/home/username/mirror-bot/downloads"
DOWNLOAD_STATUS_UPDATE_INTERVAL = 5
AUTO_DELETE_MESSAGE_DURATION = 20
IS_TEAM_DRIVE = ""
INDEX_URL = ""
USER_SESSION_STRING = ""
TELEGRAM_API = 1385463 
TELEGRAM_HASH = "4231b5d8ae96122d06af4a1db689e5f2"
USE_SERVICE_ACCOUNTS = ""
